<div class="dropdown">
  <div class="dropdown-container">
    <p class="dropdown-description">Device</p>
    <p class="dropdown-button"><%= @selected_device || "Click to Select" %> </p>
    <ul class="dropdown-menu dropdown-select">
        <li><%= link_to "All Orders", new_order_path %></li>
      <% @device_links.each do |device| %>
        <li><%= link_to device.name, controller: "orders", action: "new", items: device.items, device_id: device.id %></li>
      <% end %>
    </ul>
  </div>
</div>

<table class="tables" id="orders">
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody class="order-list">
    <%= render @orders %>
  </tbody>
</table>
