<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!-- <a href="/" class="logo">
      <h1>BV</h1>
    </a> -->
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/">Home</a></li>
        <li class="nav-link"><%= link_to "Admin", admin_path %></li>
        <li class="nav-link"><%= link_to "Orders", new_order_path %></li>
        <!-- <li class="nav-link more"><a href="javascript:void(0)">Tablets</a>
          <ul class="submenu">
            <li><a href="javascript:void(0)">Tablet 1</a></li>
            <li><a href="javascript:void(0)">Tablet 2</a></li>
          </ul>
        </li> -->
      </ul>
    </nav>
    <div class="navigation-tools">
      <!-- <div class="search-bar">
        <form role="search">
          <input type="search" placeholder="Enter Search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        </form>
      </div> -->
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "sign-out" %>
      <% else %>
        <a href="javascript:void(0)" class="sign-up">Sign In</a>
      <% end %>
    </div>
  </div>
</header>
